body {
  transition: 4s
}

img {
  margin: 10px
}

.welcome-modal {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  min-height: 90%;
  padding: 50px;
  width: 90%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  animation-name: fadeIn;
  animation-duration: 3s;
}
#vibe-btn {
  background: rgb(255,140,0);
  border: 1px;
  padding: 20px;
  font-size: 2em;
  font-weight: 400;
  color: rgb(54.5,0,0);
  text-align: center;
  left: 0;
  right: 0;
  position: absolute;
}
.welcome-modal p {
  font-size: 3em;
  color: rgb(18, 140, 126);
}

.welcome-modal button {
  background: rgb(18, 140, 126);
  border: none;
  padding: 20px;
  font-size: 2em;
  font-weight: 200;
  color: yellow;
  transition: 0.3s
}

.welcome-modal button:hover {
  background-color: lightgreen;
  transform: scale(1.15);
  color: white;
}

.hidden {
  visibility: hidden;
}

.d-xl-inline-flex {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.wrapperindex {
  display: grid;
  grid-template-areas: "table table table table table" "table table table table table";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  text-align: center;
}

/* HOVER COLOR */

img svg:hover #alpha{
  fill: #111;
}

/* GENERAL STYLES */

body {
  background-color: #bad0b8;
  background-image: -webkit-linear-gradient(right, #FC7864, #FDA366);
  background-image: -moz-linear-gradient(right, #FC7864, #FDA366);
  background-image: -o-linear-gradient(right, #FC7864, #FDA366);
  background-image: -ms-linear-gradient(right, #FC7864, #FDA366);
  background-image: linear-gradient(right, #FC7864, #FDA366);
}
article {
  width: 100%;
  margin: 60px auto;
  text-align: center;
  zoom: 2;
}
a {
  outline: none;
  border: 0;
  text-decoration: none;
}
img svg #alpha {
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}


@keyframes fadeIn {
  from {background-color: rgba(0, 0, 0, 0)}
  to {background-color: rgba(0, 0, 0, 0.8)}
}
